# The project name, used to name the executable produced by arduino_builder.
builder.project_name=blink

# The name of the platform package that provides the Arduino core to use. This
# is typically the name of a folder under the `packages` or `hardwares` folder
# of the Arduino installation folder (depending on how recent is your Arduino
# installation).
# This project uses the default `arduino` package. Other common packages are,
# for example, `rp2040` or `teensy`.
# If the package can’t be found automatically then you can specify the
# builder.package.path option (see below) instead of this option.
builder.package.name=arduino

# If your Arduino installation is non-standard and can’t be found automatically
# by arduino_builder then you can specify the path to the package here. This
# should be the top-level directory of the package (the one that contains the
# versionned package directory) or it can directly be a specific version
# directory.
# Note that, in this case, you should probably put this option in a the
# arduino_builder.local configuration file and exclude that second file from
# being tracked in your source control system.
# builder.package.path=C:\Users\MyUserName\AppData\Local\Arduino15\packages\arduino

# This option can also be used if you don’t have the Arduino software installed
# at all and just manually installed the core, possibly in a sub-directory of
# your project. In that case you can use a variable to point to the right
# folder:
# builder.package.path={builder.project_dir}/third_party/arduino

# The architecture to use for the project. This is one of the folder inside the
# `hardware` folder inside the platform package folder. If the package has a
# single architecture then it does not need to be specified. By default the
# arduino package only has the `avr` architecture so we could ignore this option
# but, to be on the safe side, we are still defining it.
builder.package.arch=avr

# The name of the board to use.
builder.package.board=uno

# The directory into which the program is built. If not specified in the config
# this can be specified with the `--build-dir` command line option.
# Note: like all paths in the config, this value should be specified as an
# absolute path or rooted using the {builder.project_dir} variable that points
# to the directory containing this file.
builder.default_build_dir={builder.project_dir}/_build

# TODO: document how to find the board name and document the menu and library
# options.

